/* DEFAULT THEME */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark Mode FOR AUTO SWITCH ON USER SYSTEM PREFERENCE */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* THEME */
/* Solarized theme */
[data-theme="solarized"] {
  --background: #fdf6e3;
  --foreground: #657b83;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
